.wrap {
  max-width: 926px;
  margin: 0 auto;

  @include mq-to-1024 {
    max-width: 700px;
  }

  @include mq-to-768 {
    max-width: 600px;
  }

  @include mq-to-700 {
    padding: 0 30px;
  }
}