.all-products {
  min-height: 250px;

  .wrap {
    position: relative;
    padding-top: 40px;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 43px;

    &__title {
      font-size: 24px;
      color: $middle-grey;
    }

    &-options {
      display: flex;
      align-items: center;

      &__search {
        width: 255px;
        padding: 8px 0 8px 40px;
        margin-right: 30px;
      }
    }
  }

  &-more {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
  }
}