.main-product {
  padding: 50px 0;
  color: white;
  font-size: 11px;
  background-color: $dark-green;
  padding-top: 100px;
  margin-top: -100px;
  position: relative;
  transition: all 1s ease;
  height: 500px;

  .wrap {
    padding-top: 40px;
    position: relative;
  }

  &__title {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 18px;
  }

  &__photo {
    max-width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 2s ease;
    transform-origin: bottom left;
  }

  &__item {
    transition: all 2s ease;
    position: absolute;
    width: 100%;
    left: 0;

    &_inactive {
      opacity: 0;
      visibility: hidden;

      .main-product__photo {
        transform: translateY(100%) translateX(-50%);
      }
    }

    &_active {
      opacity: 1;
      visibility: visible;

      .main-product__photo {
        transform: translateY(0) translateX(-50%);
      }
    }
  }

  @include mq-to-576 {

    height: 100vh;

    &__photo {
      max-width: 90%;
    }

    &__title {
      font-size: 18px;
    }

    &__type, &__color {
      font-size: 14px;
    }

    &__item {
      text-align: center;
    }
  }
}

.main-product__button-buy {
  margin-top: 215px;
}