.footer {
  background-color: $dark-blue;
  margin-top: 84px;

  .wrap {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
  }

  &-item {
    &__title {
      color: $white;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 40px;
    }

    &__link {
      opacity: 0.6;
      font-size: 14px;
      line-height: 20px;
    }
  }


}



