.nav-list {
  display: flex;
  color: white;

  &__item {
    margin-right: 15px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.header__nav, .header__account {
  display: flex;
}