.product-item {
  background-color: #efefef;
  width: calc(20% - (28px / 4));
  border-bottom: 4px solid #d6d6d6;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    background-color: #efefef;
    transition: all 0.2s ease;
    color: red;

    .product-item__photo {
      transition: all 0.2s ease;
      img {
        transform: scale(1.1);
        transition: all 0.2s ease;
      }
    }
  }

  &_soldout {
    border-bottom-color: #ff3f0c;

    .product-item__stock {
      color: #ff3f0c;
    }
  }

  &__photo {
    background-color: #e6e6e6;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
      max-width: 80%;
    }
  }

  &__content {
    padding: 16px 16px 5px 16px;
    color: #555555;
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
  }

  &__description {
    margin-top: 14px;
    font-size: 11px;
  }

  &__stock {
    font-weight: bold;
    font-size: 11px;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
  }
}