.product-news-slider {
  width: 81%;
  margin: 0 auto;
}

.product-news-slider-item {
  display: flex;
}

.product-news-slider-content {
  color: $dark-grey;
  margin-left: 50px;

  &__title {
    font-size: 18px;
    margin-bottom: 27px;
  }

  &__description {
    margin-bottom: 30px;
    line-height: 17px;
    font-size: 14px;

  }
}