.product-news-slider {
  width: 81%;
  margin: 0 auto;
  position: relative;

  &-item {
    display: flex;
    position: absolute;
    transition: all 2s ease;

    &_inactive {
      opacity: 0;
      visibility: hidden;

      .main-product__photo {
        transform: translateY(100%) translateX(-50%);
      }
    }

    &_active {
      opacity: 1;
      visibility: visible;

      .main-product__photo {
        transform: translateY(0) translateX(-50%);
      }
    }
  }

  &-content {
    color: $dark-grey;
    margin-left: 50px;

    &__title {
      font-size: 18px;
      margin-bottom: 24px;
    }

    &__description {
      margin-bottom: 28px;
      line-height: 17px;
      font-size: 14px;

    }
  }

  //responsive - product-news-slider.scss
  @include mq-to-1024 {
    width: 100%;
  }

  @include mq-to-768 {
    &-item {
      flex-direction: column;

      &__photo {
        margin-bottom: 30px;
      }
    }
    &-content {
      margin-left: 0;
    }
  }
}

