.product-news-slider {
  width: 81%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;

  &-inner {
    display: flex;
    height: 100%;
    width: 500%;
    flex-shrink: 0;
    transition: all 0.5s;
  }

  &-item {
    display: flex;
    transition: all 2s ease;
    flex-basis: 20%;
    flex-shrink: 0;
  }

  &-content {
    color: $dark-grey;
    margin-left: 50px;

    &__title {
      font-size: 18px;
      margin-bottom: 24px;
    }

    &__description {
      margin-bottom: 28px;
      line-height: 17px;
      font-size: 14px;

    }
  }

  //responsive - product-news-slider.scss
  @include mq-to-1024 {
    width: 100%;
  }

  @include mq-to-768 {
    &-item {
      flex-direction: column;

      &__photo {
        margin-bottom: 30px;
      }
    }
    &-content {
      margin-left: 0;
    }
  }
}

