.main-product {
  padding: 50px 0;
  color: white;
  font-size: 11px;
  background-color: $dark-green;
  padding-top: 100px;
  margin-top: -100px;
  position: relative;
  transition: all 1s ease;
  height: 500px;

  .wrap {
    padding-top: 40px;
    position: relative;
  }

  &__photo {
    max-width: 100%;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 2s ease;
  }

  &__item {
    transition: all 2s ease;
    position: absolute;
    width: 100%;

    &_inactive {
      opacity: 0;
      visibility: hidden;

      .main-product__photo {
        transform: translateY(100%) translateX(-50%);
      }
    }

    &_active {
      opacity: 1;
      visibility: visible;

      .main-product__photo {
        transform: translateY(0) translateX(-50%);
      }
    }
  }
}

.main-product__button-buy {
  margin-top: 215px;
}

.main-product__title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 18px;
}