.product-sort {
  display: flex;
  font-size: 14px;
  color: #555555;
  align-items: center;

  &__select {
    padding-left: 12px;
    margin-left: 10px;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 115px;
    height: 34px;
  }
}